<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta name="description" content="Oyee Family Gallery">
   <link rel="stylesheet" href="/css/login.css">
   <title>OyeeFamilyGallery</title>
</head>

<body>
   <section id="login">
      <div class="login-page">
         <div class="login-header">
            <h2>YStory52 오이가족 Gallery</h2>
         </div>
         <div class="form">
            <form class="login-form" method="post" action="/login">
            <input id="id" type="text" name="username" placeholder="아이디">
            <input id="psword" type="password" name="password" placeholder="비밀번호">
            <input id="button" type="submit" value="Login">
            <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
         </div>
         <div class="login-footer">
            <h3><a href="https://ystory52.com">YStory52</a><a href="https://oyee52.info">5252 일본어</a></h3>
         </div>
      </div>
   </section>
</body>
</html>

<!-- Copyright (c) 2021 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

